{
    "repository": {
        "id": "repository.simplekodi",
        "name": "Simple Kodi",
        "version": "1.0",
        "provider-name": "Simple Kodi",
        "summary": "Simple Kodi Tutorial.",
        "description": "How to create a Kodi Repository V2",
        "icon": "icon.png"
    },
    "host_url": "http://myrepotest.site88.net/",
    "plugins": [
        {
            "name": "plugin.video.zeemarathi",
            "github_url": "https://github.com/virajkanwade/plugin.video.zeemarathi.git"
        },
        {
            "name": "plugin.video.zeetv",
            "github_url": "https://github.com/virajkanwade/plugin.video.zeetv.git"
        }
    ]
}